<div class="login-container">
    <h1>Iniciar sesión</h1>

    <figure style="margin: 20px 0;">
        <img src="~/img/loginimg.jpg" alt="Login illustration" style="width: 280px; height: auto;">
    </figure>

    <form method="post">
        <input type="text" name="UnEmail" placeholder="Email"/> 
        <br />
        <input type="password" name="UnaContrasenia" placeholder="Contraseña"/>
        <br />
        <input type="submit" value="Login" class="login-btn" />
    </form>

    <p>@ViewBag.Mensaje</p>
</div>