<div class="home-container">
    <figure class="home-figure">
        <img src="~/img/home.png" alt="Bienvenida a MoneyTracker" class="home-img">
    </figure>

    <h2 class="home-title">Hola @ViewBag.Usuario.Nombre!</h2>

    <p class="home-text">
        Te damos la bienvenida a <strong>MoneyTracker</strong>, aquí podrás registrar y administrar los gastos de tu equipo.
    </p>
</div>